
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color:hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: 15px;
}

.qrcodecard {
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 20px;
    max-width: 320px;
    text-align: center;
    padding: 16px;
}

.qrcodecard img {
    display: block;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: 22px;
    color:hsl(218, 44%, 22%);
    padding: 16px;
    font-weight: 700;

}

p {
    color:hsl(216, 15%, 48%);
    font-size: 15px;
    font-weight: 400;
    padding:  0 16px 16px 16px;
}
